{{#if (not keyboardIsShowing)}}

    {{#if (eq mode 'standard')}}
        {{#if menu.visiblemenu}}
            <footer id="main-footer">
                <table class="table-borderless">
                    <tbody>
                        <tr>
                            <td id="celda">
                                {{#link-to 'logged.menu.factura'}}
                                <img src="icons/factura.svg" width="40" height="40"> {{/link-to}}
                            </td>
                            <td id="celda">
                                {{#link-to 'logged.menu.listaclientes'}}
                                <img src="icons/listaCliente.svg" width="40" height="40"> {{/link-to}}
                            </td>
                            <td id="celda">
                                {{#link-to 'logged.menu.catalogoconceptos' (query-params source='logged.menu.catalogoconceptos' id=null)}}
                                <img src="icons/catalogo.svg" width="40" height="40"> {{/link-to}}
                            </td>
                            <td id="celda">
                                {{#link-to 'logged.menu.usuario'}}
                                <img src="icons/user.svg" width="40" height="40"> {{/link-to}}
                            </td>

                        </tr>
                    </tbody>
                </table>
            </footer>
        {{/if}}
    {{/if}}

    {{#if (eq mode 'emisor-receptor')}}
        <div class="row nuevaFactura no-gutters">
            <button {{action 'nextemisor'}} class="btnfa btn-lg btn-block btn-success">Siguiente</button>
        </div>

    {{/if}}

    {{#if (eq mode 'datos-factura')}}
        <div class="row nuevaFactura no-gutters">
            <div class="col-6">
                <button {{action 'backdatos'}} class="btnfa btn-lg btn-block btn-secondary">Atras</button>
            </div>
            <div class="col-6">
            <button {{action 'nextdatos'}} class="btnfa btn-lg btn-block btn-success">Siguiente</button>
            </div>
        </div>
    {{/if}}

    {{#if (eq mode 'conceptos')}}
        <div class="row nuevaFactura no-gutters">
            <div class="col-6">
                <button {{action 'backconceptos'}} class="btnfa btn-lg btn-block btn-secondary">Atras</button>
            </div>
            <div class="col-6">
                <button {{action 'nextconceptos'}} class="btnfa btn-lg btn-block btn-success">Siguiente</button>
            </div>
        </div>
    {{/if}}

    {{#if (eq mode 'impuestos')}}
        <div class="row nuevaFactura no-gutters">
            <div class="col-6">
                <button {{action 'backimpuestos'}} class="btnfa btn-lg btn-block btn-secondary">Atras</button>
            </div>
            <div class="col-6">
                <button {{action 'nextimpuestos'}} class="btnfa btn-lg btn-block btn-success">Siguiente</button>
            </div>
        </div>
    {{/if}}
    
    {{#if (eq mode 'complementos-ine')}}
        <div class="row nuevaFactura no-gutters">
            <div class="col-6">
                <button {{action 'backc_ine'}} class="btnfa btn-lg btn-block btn-secondary">Atras</button>
            </div>
            <div class="col-6">
                <button {{action 'nextc_ine'}} class="btnfa btn-lg btn-block btn-success">Siguiente</button>
            </div>
        </div>
    {{/if}}

    {{#if (eq mode 'resumen')}}
        <div class="row nuevaFactura no-gutters">
            <div class="col-5">
                <button {{action 'backresumen'}} class="btnfa btn-lg btn-block btn-secondary">Atras</button>
            </div>
            <div class="col-7 no-gutters">
                <div class="btn-group dropup btn-block">
                        <button {{action 'save'}} class="col-8 no-gutters btnfa btn-success btn-lg btn-block" type="button">
                            Facturar
                        </button>
                        
                        <button class="col-4 no-gutters btnfa btn-lg btn-success dropdown-toggle-split" 
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="icons/menu.svg" width="20" height="25">
                        </button>
                        

                    <div class="dropdown-menu dropdown-menu-right">
                        <button class="btn btn-outline-info">Modo de prueba</button>
                    </div>

                </div>
            </div>
        </div>
    {{/if}}


{{/if}}