
@import "ember-cli-bootstrap-4/bootstrap";
@import 'ember-power-select';

.barraStyle{  
    height: 30px;    
    width:100%;
    display:block;
    font-size:1rem;
    padding:.375rem .75rem;
    background-clip:padding-box;
}

.barraStyle::-webkit-progress-bar{
border-radius: 10px;
background: #ddd;    
}

.barraStyle::-webkit-progress-value{
    background:blue;
    border-radius: 10px;   
    border:50px;
}

#main-footer {        
    background: #2b4c7f;
    height: 60px;
    text-align: center;
    padding: 12px;                
    width: 100%; 
    position: fixed;
    bottom: -1px;
}

#celda{
    width: 800px;
}
    
.ocultardiv{
    display:none
}

.t-13{
    font-size: 13px;
}

.t-25{
    font-size: 25px
}

.t-30{
    font-size: 30px
}

.estiloH{
    color: white;
    height: 2em;
    font-weight: bold;
}
.estilocentrado{
    color: white;
    text-align: center;  
    height: 2em;
    font-weight: bold;
}
.estilonuevafactura{
    color: white;
    height: 2em;
    font-weight: bold;
}

.tabla{
    margin-bottom:5rem;
    background-color:transparent
}

.tabla td,.tabla th{
    width:5%;
    padding:.25rem;
    vertical-align:top;
    border-top:1px solid #dee2e6
}

.tabla td{
    overflow: hidden;
    text-overflow: ellipsis;
}

.tablaDescripcion{
    table-layout:fixed;
    width: 100%;
    margin-top:2rem;
    margin-bottom:3rem;
    background-color:transparent;
}

.tablaDescripcion td,.tablaDescripcion th{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: .80rem;
    vertical-align:top;
    border-top:1px solid #dee2e6
}

.tablaClientes{
    width: 100%;    
    margin-bottom:5rem;
    background-color:transparent
}

.tablaClientes td,
.tablaClientes th{    
    vertical-align:top;
    border-top:1px solid #dee2e6
}

.facutarTabla {
    width: 8px;
}

#factura{
    vertical-align: middle;
}

.nombre{
    font-size: 15px;
}

.new-factura{
    margin-top: 4.5rem;
    margin-bottom: 4.5rem;
    padding-right: 30px;
    padding-left: 30px;
}

.haed-menu{
    margin-top: 4.5rem;
    margin-bottom: 4.5rem;
}

.nuevaFactura {
	position: fixed;
	bottom: 0;
    //z-index: 2000;
    width: 100%;
    left: 0;
    right: 0;
    border-radius: 0.1rem;
}
.btnfa {
    text-align: center;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    border-radius: 0;
}
.btnfacturaEmisor{
    height: 40px;
    text-align: center;
}
.btnfacturaResumen{
    height: 40px;
    text-align: center;
}

.btnfactura{
    width: 49%;
    height: 40px;
    text-align: center;
}

.social {
	position: fixed; /* Hacemos que la posición en pantalla sea fija para que siempre se muestre en pantalla*/
	right: 0; /* Establecemos la barra en la izquierda */
	top: 150px; /* Bajamos la barra 200px de arriba a abajo */
	z-index: 2000; /* Utilizamos la propiedad z-index para que no se superponga algún otro elemento como sliders, galerías, etc */
}
 
.social ul {
    list-style: none;
}

.social ul li a, button {
    display: inline-block;
    color:#fff;
    background:#2b4c7f;
    padding: 10px 15px;
    text-decoration: none;
    -webkit-transition:all 500ms ease;
    -o-transition:all 500ms ease;
    transition:all 500ms ease; /* Establecemos una transición a todas las propiedades */
}

.social ul li a:hover {
    background: #000; /* Cambiamos el fondo cuando el usuario pase el mouse */
    padding: 10px 30px; /* Hacemos mas grande el espacio cuando el usuario pase el mouse */
    margin-left: -30px;
}

.post_article{
    padding-top: 45px;
}
header#head {            
    padding: 60px 20px;
    background-color: #1797d7;
}

nav#topnav {
    padding: 10px 10px;
    background-color: #0583c7;
}
    nav#topnav ul {
    list-style: none;
}

nav#topnav ul li{
    display: inline-block;
}

nav#topnav ul li a{
    color:#FFF;
    padding: 5px 7px;
    display: block;
    text-decoration: none;
}

.fecha select {
    font-size: .85rem;
}

.fecha select option{
    text-align: center;
}

a.current {
    background-color: #222;            
}

.estadoFactura {
    width: 100%;
    height: 2em;
    padding: 5px;
    margin-top: 0;
    padding-bottom: 48px;   
}

#mensaje{
    color: white;
    font-size: 18px; 
    text-align: center;
}

.facturaCancelada {
    background-color: #fc727a;
    width: 100%;
    height: 2em;
    padding: 5px;
    margin-top: 0;
    padding-bottom: 40px;
}

.ember-basic-dropdown.form-control{
    padding: 0
}
.ember-basic-dropdown.form-control > .ember-power-select-trigger{
    height: 100%;
    width: 100%;
    border: 0;
}

.ember-power-select-dropdown.ember-basic-dropdown-content--in-place {
    width: calc(100% + 2px);
    left: -1px;
}